CMakeFiles
Debug
Release
x64
Project/Debug
Project/Release
Project/Profiling
Project/x64
Project/temp
enc_temp_folder
Game.dir
CMakeCache.txt
cmake_install.cmake
.vs
*.opendb
*.db
Project/My Amplifier Results - Project/
